<footer>
  <div class="footer_break">
    <img src="/images/greenbar775x19.gif" alt="" width="775" height="2"/>
  </div>
  <div class="footer_content">
    <p><a href ="#top" class="toplink">Top of Page</a></p>
    <p>©2013 Trees That Feed Foundation, 1200 Hill Road, Winnetka, Illinois 60093</p>
    <p>A 501(c)(3) not-for-profit organization.  Donations are fully tax-deductible to the extent allowable by law.</p>
  </div>
</footer>
