<header id="header" class="">
  <div class="page_logo">
    <%= image_tag('TTFF_logo_orig_100x100.gif', :alt => 'Trees That Feed') %>
  </div>
  <div class="page_heading">
    <h1>Trees That Feed Foundation</h1>
    <h2>Planting Trees to Feed People, Create Jobs and Benefit the Environment</h2>
  </div>
  <div id="smoothcontainer">
    <!-- RENDERS SITE NAVIGATION -->
  </div>
  <div class="green_bar"></div>
  <div class="header_image">
    <script language="javascript" type="text/javascript">showImage();</script>
  </div>
  <div class="green_bar"></div>
</header><!-- /header -->
